In [97]:
import pandas as pd 
import numpy as np

In [98]:
train=pd.read_csv(r'C:\Users\My PC\Desktop\Machine Learning\Hackerearth\Hackerearth\Tcs\train.csv')
test=pd.read_csv(r'C:\Users\My PC\Desktop\Machine Learning\Hackerearth\Hackerearth\Tcs\test.csv')

In [99]:
train.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income_>50K
0,67,Private,366425,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Male,99999,0,60,United-States,1
1,17,Private,244602,12th,8,Never-married,Other-service,Own-child,White,Male,0,0,15,United-States,0
2,31,Private,174201,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
3,58,State-gov,110199,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,0
4,25,State-gov,149248,Some-college,10,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,United-States,0

In [100]:
test.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
0,39,Self-emp-not-inc,327120,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,Portugal
1,32,Private,123253,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,42,United-States
2,47,Private,232628,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,40,United-States
3,19,Private,374262,12th,8,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,20,United-States
4,46,Self-emp-not-inc,311231,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,United-States

In [101]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899 entries, 0 to 898
Data columns (total 14 columns):
age                899 non-null int64
workclass          899 non-null object
fnlwgt             899 non-null int64
education          899 non-null object
educational-num    899 non-null int64
marital-status     899 non-null object
occupation         899 non-null object
relationship       899 non-null object
race               899 non-null object
gender             899 non-null object
capital-gain       899 non-null int64
capital-loss       899 non-null int64
hours-per-week     899 non-null int64
native-country     899 non-null object
dtypes: int64(6), object(8)
memory usage: 98.4+ KB

In [102]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43957 entries, 0 to 43956
Data columns (total 15 columns):
age                43957 non-null int64
workclass          41459 non-null object
fnlwgt             43957 non-null int64
education          43957 non-null object
educational-num    43957 non-null int64
marital-status     43957 non-null object
occupation         41451 non-null object
relationship       43957 non-null object
race               43957 non-null object
gender             43957 non-null object
capital-gain       43957 non-null int64
capital-loss       43957 non-null int64
hours-per-week     43957 non-null int64
native-country     43194 non-null object
income_>50K        43957 non-null int64
dtypes: int64(7), object(8)
memory usage: 5.0+ MB

In [103]:
train.isnull().sum()

age                   0
workclass          2498
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2506
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      763
income_>50K           0
dtype: int64

In [104]:
test.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
dtype: int64

In [105]:
train.occupation.value_counts()

Craft-repair         5519
Prof-specialty       5518
Exec-managerial      5506
Adm-clerical         5004
Sales                4965
Other-service        4448
Machine-op-inspct    2711
Transport-moving     2121
Handlers-cleaners    1878
Farming-fishing      1348
Tech-support         1321
Protective-serv       874
Priv-house-serv       225
Armed-Forces           13
Name: occupation, dtype: int64

In [106]:
train['occupation']=train['occupation'].fillna(-999)
train['native-country']=train['native-country'].fillna(-999)
train['workclass']=train['workclass'].fillna(-999)

In [107]:
objList = train.select_dtypes(include = "object").columns
print (objList)

Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender', 'native-country'],
      dtype='object')

In [108]:
testl = test.select_dtypes(include = "object").columns
print (testl)

Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender', 'native-country'],
      dtype='object')

In [109]:
for feat in testl:
    test[feat] = le.fit_transform(test[feat].astype(str))

print (test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899 entries, 0 to 898
Data columns (total 14 columns):
age                899 non-null int64
workclass          899 non-null int32
fnlwgt             899 non-null int64
education          899 non-null int32
educational-num    899 non-null int64
marital-status     899 non-null int32
occupation         899 non-null int32
relationship       899 non-null int32
race               899 non-null int32
gender             899 non-null int32
capital-gain       899 non-null int64
capital-loss       899 non-null int64
hours-per-week     899 non-null int64
native-country     899 non-null int32
dtypes: int32(8), int64(6)
memory usage: 70.3 KB
None

In [110]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for feat in objList:
    train[feat] = le.fit_transform(train[feat].astype(str))

print (train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43957 entries, 0 to 43956
Data columns (total 15 columns):
age                43957 non-null int64
workclass          43957 non-null int32
fnlwgt             43957 non-null int64
education          43957 non-null int32
educational-num    43957 non-null int64
marital-status     43957 non-null int32
occupation         43957 non-null int32
relationship       43957 non-null int32
race               43957 non-null int32
gender             43957 non-null int32
capital-gain       43957 non-null int64
capital-loss       43957 non-null int64
hours-per-week     43957 non-null int64
native-country     43957 non-null int32
income_>50K        43957 non-null int64
dtypes: int32(8), int64(7)
memory usage: 3.7 MB
None

In [111]:
train.head(1)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income_>50K
0,67,4,366425,10,16,0,4,1,4,1,99999,0,60,39,1

In [112]:
x=train.iloc[:,:14]

In [113]:
x.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
0,67,4,366425,10,16,0,4,1,4,1,99999,0,60,39
1,17,4,244602,2,8,4,8,3,4,1,0,0,15,39
2,31,4,174201,9,13,2,4,0,4,1,0,0,40,39
3,58,7,110199,5,4,2,14,0,4,1,0,0,40,39
4,25,7,149248,15,10,4,8,1,2,1,0,0,40,39

In [114]:
y=train['income_>50K']

In [115]:
from sklearn.model_selection import train_test_split

In [116]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=111)

In [117]:
from sklearn.linear_model import LogisticRegression
model= LogisticRegression()
from sklearn.tree import DecisionTreeClassifier
tr=DecisionTreeClassifier()

In [118]:
model.fit(xtrain,ytrain)
tr.fit(xtrain,ytrain)

D:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [119]:
pred=model.predict(xtest)
pred2=tr.predict(xtest)

In [120]:
from sklearn.metrics import accuracy_score

In [121]:
print(accuracy_score(pred2,ytest))

0.8080831058538065

In [122]:
fpred=tr.predict(test)

In [126]:
id=test.index

RangeIndex(start=0, stop=899, step=1)

In [128]:
sub=pd.DataFrame({'id':test.index,
                  'income':fpred
})